<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <div id="parent">
        <div id="nav">logo</div>
        <div id="logo">navigation</div>
        <div id="as"></div>
        <div id="uas" ></div>
        <div id="a"></div>
        <div id="b"></div>
        <div id="c"></div>
        <div id="d"></div>
        <div id="e"></div>
        <div id="f"></div>
        <div id="g"></div>
        <div id="h"></div>
        <div id="i"></div>
        <div id="j"></div>
        <div id="k"></div>
        <div id="l"></div>
        <div id="m"></div>
        <div id="n"></div>
       <div id="box"> 
        <div id="b1"> box1</div>
        <div id="b2"> box2</div>
        <div id="b3">box3</div></div>
        <div id="foot"> footer</div>
       
     </div>
</body>
</html>