<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
     <div class="container">
        <div class="content-1"></div>
        <div class="content-2"></div>
        <div class="content-3"></div>
        <div class="content-4"></div>
     </div>
     <div class="parent">
        <div class="parent1"></div>
        <div class="parent2"></div>
        <div class="parent3"></div>
        <div class="parent4"></div>
        <div class="parent5"></div>
        <div class="parent6"></div>
        <div class="parent7"></div>
        <div class="parent8"></div>
        <div class="parent9"></div>
     </div>
</body>
</html>