div{
background: aqua;
border: 2px solid black;
height: 500px;
width: 500px;
background-image: url(./jr-ntr.jpg);
background-size: 200px 200px;
background-repeat: no-repeat;
background-attachment: scroll;
/*background-position: center center;*/

}