*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
#parent{
    margin:20px auto;
    width: 500px;
    height: 600px;
    display: grid;
    grid-template-columns: 160px 175px 160px;
    grid-template-rows: 100px 100px 100px 200px 90px;
    grid-template-areas: 
    "logo child1 child1"
    "child2 child2 child2"
    "area area area"
    "hi child3 child4"
    "child5 child5 child5";
     row-gap: 5px;
}
#logo{
    padding-left: 5px;
    background-color: blue;
    grid-area: logo;
    display: grid;
    padding-left: 5px;
    align-items: center;


}
#child1{
    background-color: blueviolet;
    grid-area: child1;display: grid;
    justify-content: center;
    align-items: center;
}
#child2{
    background-color: rgb(43, 189, 226);
    grid-area: child2;    
    display: grid;
    justify-content: center;
    align-items: center;

}
#hi{
    background-color: rgb(119, 43, 226);
    grid-area:hi; 
    margin-right: 5px; 
    display: grid;
    justify-content: center;
    align-items: center;
}
#child3{
    background-color: rgb(67, 43, 226);
    grid-area: child3; 
    margin-right: 5px;  
    display: grid;
    justify-content: center;
    align-items: center; 
}
#child4{
    background-color: rgb(217, 43, 226);
    grid-area: child4;  
    display: grid;
    justify-content: center;
    align-items: center;  
}
#child5{
    background-color: rgb(76, 43, 226);
    grid-area: child5;  
    justify-content: center;
    align-items: center;
    display: flex;  
}
#area{
    background-color: rgb(43, 186, 226);
    grid-area: area;
    display: grid;
    justify-content: center;
    align-items: center;
}